<div id="nav">
  Income Tracker
  <img src="../../assets/money_transfer_.svg" id="logo" alt="" />
</div>
<div id="total">
  <div
    id="poo"
    [ngClass]="{
      red: totalBudget < 350,

      yellow: totalBudget > 5000
    }"
  >
    Balance
  </div>
  <div
    [ngClass]="{
      red: totalBudget < 350,

      yellow: totalBudget > 5000
    }"
  >
    ₹{{ totalBudget }}/-
  </div>
</div>
<div
  class="container"
  style="
    display: block;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    display: flex;
  "
>
  <app-add-item (formSubmit)="addItem($event)"> </app-add-item>
</div>
<br />
<hr />
<br />
<div>
  <app-budget
    [budgetItems]="budgetItems"
    (delete)="deleteItem($event)"
    (update)="updateItem($event)"
  ></app-budget>
</div>
